@import './../../../../styles.scss';
@import '../../shared/style/grid.scss';

::ng-deep {
    app-admin004-manage-coupon {
        height: 100%;

        kendo-drawer-container {
            height: 100%;

            kendo-drawer {
                .drawer-custom-container {
                    .header-drawer {
                        height: 60px;
                        @include center-vertical;
                        font-size: 15px;
                        text-transform: uppercase;
                        font-weight: 600;
                        gap: 10px;
                        padding: 0 20px;

                        .icon-back {
                            font-size: 22px;
                            cursor: pointer;
                        }
                    }

                    .content-drawer {
                        border-top: 2px solid #000;
                        height: calc(100vh - 120px);
                        padding: 20px;
                        color: #000 !important;
                        display: flex;
                        flex-direction: column;
                        gap: 20px;
                        overflow-y: auto;
                        font-size: 13px !important;

                        .date-apply-block {
                            width: 100%;
                            justify-content: space-between;
                            @include center-vertical;

                            .date {
                                width: 350px;
                                ;
                                @include center-vertical;
                                justify-content: space-between;
                            }
                        }

                        .quantity-block {
                            width: 100%;
                            justify-content: space-between;
                            @include center-vertical;

                            kendo-textbox {
                                input.k-input-inner {
                                    text-align: center;
                                }
                            }
                        }

                        .text-input-min {
                            kendo-textbox {
                                input.k-input-inner {
                                    text-align: center;
                                }
                            }
                        }

                        .percent-discount-block {
                            width: 100%;
                            justify-content: space-between;
                            @include center-vertical;

                            .input-percent-discount {
                                color: $color-cancel;

                                kendo-textbox {
                                    input.k-input-inner {
                                        text-align: center;
                                        color: $color-cancel;
                                    }
                                }
                            }
                        }

                        .input-direct-discount {
                            color: $color-cancel;

                            kendo-textbox {
                                input.k-input-inner {
                                    text-align: center;
                                    color: $color-cancel;
                                }
                            }
                        }

                        .input-max-bill-discount{
                            kendo-textbox {
                                input.k-input-inner {
                                    text-align: center;
                                }
                            }
                        }

                        .review-block {
                            width: 100%;
                            display: flex;
                            flex-direction: column;
                            gap: 10px;

                            .label {
                                font-size: 14px;
                                text-transform: uppercase;
                                font-weight: 600;
                                cursor: pointer;
                                width: 87px;
                            }

                            .review {
                                width: 100%;

                                .component-coupon {
                                    @include center-horizontal;
                                }
                            }
                        }

                        component-text-area {
                            .k-label {
                                height: 30px;
                                display: flex;
                                align-items: center;
                            }
                        }

                        .button-block {
                            width: 100%;
                            display: flex;
                            justify-content: end;
                            gap: 10px;
                            .button-update {
                                .component-button:hover {
                                    color: #ffffff !important;
                                    background-color: #2557A0 !important;
                                }
                            }

                            .button-send {
                                .component-button:hover {
                                    color: #ffffff !important;
                                    background-color: #069DF1 !important;
                                    // font-weight: 100 !important;
                                }
                            } 

                            .button-approve {
                                .component-button:hover {
                                    color: #ffffff !important;
                                    background-color: #09880E !important;
                                    // font-weight: 100 !important;
                                }
                            } 

                            .button-disapprove {
                                .component-button:hover {
                                    color: #ffffff !important;
                                    background-color: #FF1D1D !important;
                                    // font-weight: 100 !important;
                                }
                            } 
                        }
                    }

                    .footer-drawer {
                        height: 60px;
                        @include center-vertical;
                        padding: 0 20px;

                        .button-back {
                            .component-button:hover {
                                color: #fff !important;
                                background-color: #000 !important;
                            }
                        }
                    }
                }
            }

            kendo-drawer-content {
                height: 100%;

                .content-container {
                    height: 100%;
                    display: flex;
                    flex-direction: column;
                    gap: 6px;
                    position: relative;

                    .header-filter-status {
                        gap: 10px;
                        @include center-vertical;
                        padding: 6px 0 10px 0;
                        justify-content: space-between;
                        overflow-x: auto;

                        .block-filter-status {
                            gap: 10px;
                            @include center-vertical;

                            .label-filter {
                                font-weight: 600;
                                text-transform: uppercase;
                                font-size: 14px;
                                width: 100px;
                                text-wrap: nowrap;
                            }
                        }

                        .button-add {
                            .component-button:hover {
                                color: #fff !important;
                                background-color: #09880E !important;
                            }
                        }
                    }

                    .header-filter-stage {
                        gap: 10px;
                        @include center-vertical;
                        padding: 6px 0 10px 0;
                        overflow-x: auto;
                        justify-content: space-between;

                        .block-filter-stage,
                        .block-filter-group {
                            gap: 10px;
                            @include center-vertical;

                            .label-delete-filter {
                                width: 100px;
                                text-decoration: underline;
                                color: rgb(255, 68, 68);
                                text-wrap: nowrap;

                                &:hover {
                                    color: red;
                                    cursor: pointer;
                                }
                            }
                        }

                        .block-filter-date {
                            gap: 10px;
                            @include center-vertical;

                            .line {
                                width: 10px;
                                height: 2px;
                                border-radius: 2px;
                                background-color: rgb(87, 87, 87);
                            }
                        }
                    }

                    .label-list-coupon {
                        padding: 6px 0 10px 0;
                        height: 40px;
                        font-weight: 600;
                        @include center-vertical;
                        font-size: 14px;
                        text-transform: uppercase;
                    }

                    .grid-custom-container {
                        height: calc(100vh - 52px - 56px - 40px - 90px);

                        .k-grid-header {
                            padding: 0 !important;
                        }

                        th.k-table-th[aria-colindex="6"] {
                            .k-column-title {
                                margin: auto;
                            }
                        }

                        th.k-table-th[aria-colindex="8"],
                        th.k-table-th[aria-colindex="7"] {
                            .k-link {
                                display: flex;
                                justify-content: end;
                            }
                        }

                        td.k-table-td[aria-colindex="9"] {
                            background-color: #fff;
                            box-shadow: $box-shadow2;
                            height: 44px;
                            @include center-horizontal;
                            overflow: visible;
                            z-index: 0;
                            border-left: 1px solid #2e2e2e !important;

                            .button-tool-box {
                                margin: auto;
                                box-shadow: $box-shadow3;
                            }

                            .component-button:hover {
                                background: #464646 !important;
                                color: #fff !important;
                            }
                        }

                        .column-1,
                        .column-2,
                        .column-3,
                        .column-4,
                        .column-5,
                        .column-6,
                        .column-7,
                        .column-8 {
                            color: #000;
                        }


                        .column-2 {
                            font-weight: 600;
                            text-transform: uppercase;
                        }

                        .column-3 {
                            .value-discount {
                                color: $color-cancel;
                                font-style: italic;
                            }
                        }

                        .column-6 {
                            text-align: center;
                        }

                        .column-7 {
                            .remaining-quantity {
                                color: $color-cancel;
                            }
                        }

                        .column-8,
                        .column-7 {
                            text-align: right;
                            text-wrap: nowrap;
                            text-overflow: ellipsis;
                            color: #000;
                        }

                        .tool-box-container {
                            position: relative;
                            @include center;
                            margin: auto;

                            .list-action {
                                position: absolute;
                                left: -169px;
                                top: 0;

                                component-dropdown-action {
                                    width: 169px;

                                    component-button {
                                        width: 169px;
                                    }
                                }
                            }
                        }

                        td.active {
                            z-index: 100 !important;
                        }
                    }
                }
            }

        }
    }
}