<kendo-drawer-container>
    <kendo-drawer #drawer [mode]="expandMode" [position]="positionDrawer" [width]="widthDrawer" [(expanded)]="expanded">
        <ng-template kendoDrawerTemplate>
            <div class="drawer-custom-container"></div>
        </ng-template>
    </kendo-drawer>

    <kendo-drawer-content>
        <div class="content-container">
            <!-- Header Filter theo trạng thái -->
            <div class="header-filter-status">
                <div class="block-filter-status">
                    <div class="label-filter">Lọc dữ liệu</div>
                    <!-- Danh sách các trạng thái -->
                    <div class="list-status">
                        <component-checkboxlist #status (getListChecked)="this.getValueFromCheckListStatus($event)"
                            [valueField]="'Code'" [textField]="'Status'"
                            [listCheckBox]="listStatusBanner"></component-checkboxlist>
                    </div>
                </div>

                <!-- Button thêm khuyến mãi-->
                <component-button class="button-add" [borderWidth]="2" color="#09880E" borderColor="#09880E"
                    borderStyle="solid" [value]="0" (sendValue)="toggleDrawer()" [height]="36"
                    classIconFontAwesome="fa-plus" bgColor="#fff" text="Thêm mới"></component-button>
            </div>

            <!-- Header filter search -->
            <div class="header-filter-search">
                <div class="label-delete-filter" (click)="resetFilter()">Xóa bộ lọc</div>
                <component-search-bar #search [width]="400" (getValue)="setFilterSearch($event)"
                    [placeholder]="'Tìm kiếm theo mã khuyến mãi'"></component-search-bar>
            </div>
        </div>
    </kendo-drawer-content>
</kendo-drawer-container>