<kendo-drawer-container>
    <kendo-drawer #drawer [mode]="expandMode" [position]="positionDrawer" [width]="widthDrawer" [(expanded)]="expanded">
        <ng-template kendoDrawerTemplate>
            <div class="drawer-custom-container">
                <!-- Header của drawer -->
                <div class="header-drawer">
                    <i class="fa-solid fa-angles-left icon-back" (click)="drawer.toggle()"></i>
                    <div *ngIf="contentInDrawer === 'structure'">Xem cấu trúc</div>
                    <div *ngIf="contentInDrawer === 'update'">Chi tiết banner</div>
                    <div *ngIf="contentInDrawer === 'add'">Thêm mới banner</div>
                </div>
            </div>

            <!-- Content của drawer -->
            <div class="content-drawer">
                <!-- Chọn trang hiển thị -->
                <component-text-dropdown (getValue)="getPageDisplayDrawer($event)" [defaultItem]="defaultPageEcom"
                    [widthTextBox]="350" [label]="'Trang hiển thị'" [widthBlock]="510" [heightTextBox]="36"
                    [listItem]="listPageEcom" [valueField]="'Code'" [textField]="'Page'"></component-text-dropdown>

                <!-- Hiển thị hình ảnh cấu trúc -->
                <div class="img-structure-block" *ngIf="contentInDrawer === 'structure'">
                    <img [src]="imgStructure" alt="">
                </div>

                <ng-container *ngIf="contentInDrawer === 'add'">
                    <!-- Chọn vị trí hiển thị trong trang được chọn -->
                    <component-text-dropdown (getValue)="getPageDisplayDrawer($event)" [defaultItem]="defaultPosition"
                        [widthTextBox]="350" [label]="'Vị trí hiển thị'" [widthBlock]="510" [heightTextBox]="36"
                        [listItem]="listPositionOfPage" [valueField]="'Code'"
                        [textField]="'Position'"></component-text-dropdown>

                    <!-- Tiêu đề -->
                    <component-text-input placeholder="Nhập tiêu đề..." [widthTextBox]="350" [widthBlock]="510"
                        [heightTextBox]="36" label="Tiêu đề"></component-text-input>

                    <!-- Nội dung -->
                    <component-text-area class="content-banner" [label]="'Nội dung'" [widthBox]="510"
                        [width]="350"></component-text-area>

                    <!-- Chọn loại banner -->
                    <component-text-dropdown (getValue)="getBannerTypeDrawer($event)" [defaultItem]="defaultBannerType"
                        [widthTextBox]="350" [label]="'Loại banner'" [widthBlock]="510" [heightTextBox]="36"
                        [listItem]="listBannerType" [valueField]="'Code'"
                        [textField]="'Type'"></component-text-dropdown>

                    <!-- Nếu loại banner là hình ảnh -->
                    <ng-container *ngIf="selectedBannerTypeDrawer.Code === 0">
                        <component-import-image [text]="'Hình ảnh'"></component-import-image>
                    </ng-container>

                    <!-- Nếu loại banner là video -->
                    <ng-container *ngIf="selectedBannerTypeDrawer.Code === 1">
                        <component-text-input placeholder="Nhập đường dẫn của video..." [widthTextBox]="350"
                            [widthBlock]="510" [heightTextBox]="36" label="Đường dẫn đoạn video"></component-text-input>
                    </ng-container>
                </ng-container>
            </div>

            <!-- Footer của drawer -->
            <div class="footer-drawer"></div>
        </ng-template>
    </kendo-drawer>

    <kendo-drawer-content>
        <div class="content-container">
            <!-- Header Filter theo trạng thái -->
            <div class="header-filter-status">
                <div class="block-filter-status">
                    <div class="label-filter">Lọc dữ liệu</div>
                    <!-- Danh sách các trạng thái -->
                    <div class="list-status">
                        <component-checkboxlist #status (getListChecked)="this.getValueFromCheckListStatus($event)"
                            [valueField]="'Code'" [textField]="'Status'"
                            [listCheckBox]="listStatusBanner"></component-checkboxlist>
                    </div>
                </div>

                <!-- Button thêm khuyến mãi-->
                <component-button class="button-add" [borderWidth]="2" color="#09880E" borderColor="#09880E"
                    borderStyle="solid" [value]="0" (sendValue)="openDrawer('add')" [height]="36"
                    classIconFontAwesome="fa-plus" bgColor="#fff" text="Thêm mới"></component-button>
            </div>

            <!-- Header filter search -->
            <div class="header-filter-search">

                <!-- Xóa bộ lọc -->
                <div class="label-delete-filter" (click)="resetFilter()">Xóa bộ lọc</div>

                <!-- Thanh tìm kiếm -->
                <component-search-bar #search [width]="400" (getValue)="getValueSearch($event)"
                    [placeholder]="'Tìm kiếm theo mã khuyến mãi'"></component-search-bar>

                <!-- Dropdown lọc kiểu banner -->
                <component-text-dropdown #bannerType [widthBlock]="170" [widthTextBox]="170" textField="Type"
                    valueField="Code" [listItem]="listBannerType" (getValue)="getBannerType($event)"
                    [defaultItem]="defaultBannerType" />

                <!-- Dropdown lọc trang hiển thị -->
                <component-text-dropdown #pageDisplay [widthBlock]="180" [widthTextBox]="180" textField="Page"
                    valueField="Code" [listItem]="listPageEcom" (getValue)="getPageDisplay($event)"
                    [defaultItem]="defaultPageEcom" />

                <!-- Position hiển thị theo trang hiển thị được chọn -->
                <component-text-dropdown #position [widthBlock]="160" [widthTextBox]="160" textField="Position"
                    valueField="Code" [listItem]="listPositionOfPage" [defaultItem]="defaultPosition" />

                <!-- Xem cấu trúc -->
                <div class="label-review-structure" (click)="openDrawer('structure')">Xem cấu trúc</div>

            </div>
        </div>
    </kendo-drawer-content>
</kendo-drawer-container>