@import './../../../../styles.scss';
@import '../../shared/style/grid.scss';

::ng-deep {
    app-admin005-manage-banner {
        kendo-drawer-content {
            height: 100%;

            .content-container {
                height: 100%;
                display: flex;
                flex-direction: column;
                gap: 6px;
                position: relative;

                .header-filter-status {
                    gap: 10px;
                    @include center-vertical;
                    padding: 6px 0 10px 0;
                    justify-content: space-between;
                    overflow-x: auto;

                    .block-filter-status {
                        gap: 10px;
                        @include center-vertical;

                        .label-filter {
                            font-weight: 600;
                            text-transform: uppercase;
                            font-size: 14px;
                            width: 100px;
                            text-wrap: nowrap;
                        }
                    }

                    .button-add {
                        .component-button:hover {
                            color: #fff !important;
                            background-color: #09880E !important;
                        }
                    }
                }

                .header-filter-search {
                    gap: 10px;
                    @include center-vertical;
                    padding: 6px 0 10px 0;
                    overflow-x: auto;

                    .label-delete-filter {
                        width: 110px;
                        text-decoration: underline;
                        color: rgb(255, 68, 68);
                        text-wrap: nowrap;

                        &:hover {
                            color: red;
                            cursor: pointer;
                        }
                    }
                }
            }
        }
    }
}