@import '../../../../styles.scss';

app-sidebar-admin {
    position: relative;
    z-index: 10000;

    kendo-drawer-container.drawer-custom {
        height: 100vh !important;

        kendo-drawer {
            background-color: $color-main;
            color: #fff;
            border: none;
            position: relative;
            box-shadow: $box-shadow3;
            height: 100vh;

            .k-drawer-wrapper {
                height: 100vh;
            }

            ul {
                height: calc(100vh - 140px);
                overflow-y: auto;

                li {
                    display: flex;
                    flex-direction: column;
                    padding: 0;
                    gap: 0;

                    .box-item-drawer {
                        position: relative;
                        height: 50px;
                        width: 100%;
                        display: flex;
                        padding: 8px 16px;
                        gap: 12px;

                        &:hover {
                            transition: 0.3s ease-in-out;
                            background-color: #fff !important;
                            color: #000 !important;
                        }

                        .icon,
                        .text {
                            @include center-vertical;
                        }

                        .icon {
                            width: 20px;
                            text-align: left;
                        }

                        .text {
                            font-size: 14px;
                            font-weight: 600;
                        }

                        .module-parent {
                            text-transform: uppercase;
                        }

                        .fa-chevron-down,
                        .fa-chevron-up {
                            position: absolute;
                            right: 16px;
                            top: 50%;
                            transform: translateY(-50%);
                        }

                        .bar-selected {
                            width: 5px;
                            background-color: #fff;
                            position: absolute;
                            left: 0;
                            height: 50px;
                            top: 0;
                        }
                    }

                    .expanded {
                        color: #ffffff;
                        background-color: $color-bg-side-expanded !important;
                    }

                    .closed {
                        display: none;
                    }

                    .item-submodule {
                        height: 50px;
                        @include center-vertical;
                        font-weight: 600;
                        font-size: 14px;
                        padding-left: 48px;
                        color: #919191;

                        &:hover {
                            color: #ffffff;
                            transition: 0.5s;
                            margin-left: 5px;
                        }
                    }

                    .sub-selected {
                        color: #fff;
                    }

                    .close-drawer {
                        position: absolute;
                        right: -15px;
                        height: 40px;
                        width: 40px;
                        border-radius: 100px;
                        background-color: $color-main;
                        color: #fff;
                        top: 50%;
                        opacity: 0.2;
                        @include center;
                        padding-right: 10px;

                        &:hover {
                            opacity: 1;
                            background-color: #000;
                            transition: 0.4s;
                        }
                    }
                }

                .k-drawer-item:focus,
                .k-drawer-item.k-focus {
                    background-color: none;
                    box-shadow: none;
                }

                .k-drawer-item:hover,
                .k-drawer-item.k-hover {
                    color: #fff;
                    background-color: $color-main;
                }

                .k-drawer-item.k-selected {
                    background: none;
                }
            }

            .header-drawer {
                display: flex;
                height: 60px;
                padding: 4px 5px;
                gap: 16px;
                border-bottom: 1px solid #fff;

                .image {
                    @include center-vertical;

                    img {
                        width: 40px;
                        height: 40px;
                        border-radius: 100px;
                        object-fit: cover;
                    }
                }

                .tag-name {
                    @include center-horizontal;
                    flex-direction: column;
                    gap: 2px;

                    .name {
                        font-weight: 600;
                        font-size: 16px;
                    }

                    .position{
                        font-size: 13px !important;
                    }
                }
            }

            .footer-drawer {
                height: 60px;

                .button-sign-out {
                    width: 90%;
                    height: 50px;
                    border-radius: 4px;
                    background-color: #fff;
                    color: #000;
                    text-transform: uppercase;
                    font-weight: 600;
                    @include center;
                    gap: 16px;
                    margin: auto;
                    cursor: pointer;
                }
            }


        }


    }
}