::ng-deep{
  app-ecom-pages{
    html{
      overflow: hidden;
    }

   
  }
    .k-notification-group{
        left: 20px !important;
        bottom: 20px !important;
        font-size: 50px !important;
    }
    
    
}


::ng-deep {
  .k-notification-group {
    margin-bottom: 32px;
    .button-notification {
      margin-left: 110px;
      border-radius: 10px;
      border: 0px;
      .k-notification-content {
        max-width: 247px;
        word-wrap: break-word;
        overflow-wrap: break-word;
        font-size: 13px;
        line-height: 22px;
      }
    }
    .k-notification-success {
      background-color: #1a6634;
    }
    .k-notification-error {
      background-color: #fd7676;
    }
  }
}

