<div class="bg-detail-cart">
    <div class="component-detail-cart">
        <div class="header-detail">
            <i id="icon-back" class="fa-solid fa-angles-left"></i>
            <p>Chi tiết hóa đơn</p>
        </div>

        <div class="body-detail">
            <div class="box-info">
                <component-form [text]="'THÔNG TIN HÓA ĐƠN'">
                    <div class="content-form">
                        <div class="column column1">
                            <component-text-input [label]="'Tên khách hàng'" [widthBlock]="430"></component-text-input>
                            <component-text-input [label]="'Số điện thoại'" [widthBlock]="430"></component-text-input>
                            <component-text-dropdown [label]="'Phương thức'" [widthBlock]="430" [widthTextBox]="298" [heightTextBox]="30"></component-text-dropdown>
                            <component-text-area [label]="'Ghi chú'" [widthBox]="430" [height]="40" [width]="298"></component-text-area>
                        </div>

                        <div class="column column2">
                            <component-text-dropdown [label]="'Tỉnh, thành phố'" [widthBlock]="430" [widthTextBox]="294" [heightTextBox]="30"></component-text-dropdown>
                            <component-text-dropdown [label]="'Quận, huyện'" [widthBlock]="430" [widthTextBox]="294" [heightTextBox]="30"></component-text-dropdown>
                            <component-text-dropdown [label]="'Xã, thị trấn'" [widthBlock]="430" [widthTextBox]="294" [heightTextBox]="30"></component-text-dropdown>
                            <component-text-input [label]="'Địa chỉ cụ thể'" [widthBlock]="430"></component-text-input>
                        </div>

                    </div>
                </component-form>
                <!-- <div>
                    <div class="codeBill">Mã đơn {{itemBill.Code}}</div>
                    <div class="createAtBill">{{formattedCreateAt(itemBill.CreateAt)}}</div>
                </div>
                <div class="box Name">
                    <div class="label Name">Họ tên khách hàng</div>
                    <div class="nameBill">{{itemBill.CustomerName}}</div>
                </div>
                <div class="box PhoneNumber">
                    <div class="label PhoneNumber">Số điện thoại</div>
                    <div class="phoneNumberBill">{{itemBill.PhoneNumber}}</div>
                </div>
                <div class="box Status">
                    <div class="label Status">Trạng thái</div>
                    <div class="statusBill">{{formatStatus(itemBill.Status)}}</div>  
                </div>
                <div class="box Address">
                    <div class="label Address">Địa chỉ</div>
                    <div class="addressBill">{{itemBill.ShippingAddress}}</div>  
                </div> -->

            </div>

            <div class="showListDetail">
                <div class="grid-custom-container">
                    <kendo-grid [data]="listBillInfo">
                    <kendo-grid-column  field="ImageURL" title="Hình ảnh" [width]="100">
                        <ng-template kendoGridCellTemplate let-dataItem>
                            <div class="column column-image">
                                <img class="image" [src]="dataItem.ImageURL" alt="">
                            </div>
                        </ng-template>
                    </kendo-grid-column>
                    <kendo-grid-column  title="Mã và tên sản phẩm">
                    <ng-template kendoGridCellTemplate let-dataItem>
                        <div class="column column-id-name">
                            <div class="idProduct">{{dataItem.IDProduct}}</div>
                            <div class="nameProduct">{{dataItem.Name}}</div>
                        </div>
                    </ng-template>
                    </kendo-grid-column>   
                    <kendo-grid-column  field="Size" title="Size" [width]="100">
                        <ng-template kendoGridCellTemplate let-dataItem>
                            <div class="column Size">
                                <div>{{dataItem.Size}}</div>
                            </div>
                        </ng-template>
                    </kendo-grid-column>
                    <kendo-grid-column  field="Price" title="Đơn giá" [width]="130">
                        <ng-template kendoGridCellTemplate let-dataItem>
                            <div class="column Price">
                                <div>{{formatCurrency(dataItem.Price)}}</div>
                            </div>
                        </ng-template>
                    </kendo-grid-column>
                    <kendo-grid-column  field="Quantity" title="Số lượng" [width]="100">
                        <ng-template kendoGridCellTemplate let-dataItem>
                            <div class="column Quantity">
                                <div>{{dataItem.Quantity}}</div>
                            </div>
                        </ng-template>
                    </kendo-grid-column>
                    <kendo-grid-column  field="TotalPrice" title="Tổng tiền" [width]="130">
                        <ng-template kendoGridCellTemplate let-dataItem>
                            <div class="column TotalPrice">
                                <div>{{formatCurrency(dataItem.TotalPrice)}}</div>
                            </div>
                        </ng-template>
                    </kendo-grid-column>
                    <kendo-grid-column  field="Status" title="Trạng thái" [width]="170">
                        <ng-template kendoGridCellTemplate let-dataItem>
                            <div class="column-Status">
                                <div [style.color]="formatStatus(dataItem.Status) | statusColor">
                                    {{formatStatus(dataItem.Status)}}
                                </div>    
                            </div>
                        </ng-template>
                    </kendo-grid-column>
                    <kendo-grid-column class="column-button" [width]="50">
                        <ng-template kendoGridCellTemplate let-dataItem>
                            <div class="block-Action">
                                <div (click)="ClickButtonAction(dataItem.Code, $event, dataItem.Status)"
                                    class="block-buttonAction">
                                    <component-button class="button-action" [value]="dataItem.Code" text=""
                                        classIconFontAwesome="fa-ellipsis" [width]="30" [height]="30">
                                    </component-button>
                                </div>
                                <div *ngIf="isClickButton[dataItem.Code]" class="dropDown-action" tabindex="0">
                                    <component-dropdown-action (sendValue)="clickDropDownAction(dataItem, $event)"
                                        [listItem]="listNextStatus"></component-dropdown-action>
                                </div>
                            </div>
                        </ng-template>
                    </kendo-grid-column>

                </kendo-grid>
                </div>
            </div>
        </div>

        
        <div class="footer-detail">
            <div class="">
                <i id="icon-warning" class="fa-solid fa-triangle-exclamation"></i>
            </div>
        </div>
    </div>
</div>
<div *ngIf="isShowAlert" class="popUp">
    <component-popup-confirm [textHeader]="'Thông báo'" [classIconFontAwesome]="objItemStatus.icon"
        [text]="objItemStatus.text" (sendValue)="updateStatusBillInfo($event)" (sendReason)="receive($event)"
        [value]="objItemStatus.value"></component-popup-confirm>
</div>
